<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241591734402-t3onpl2u3ac21mj35jnvn273dva7203g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241591734402-t3onpl2u3ac21mj35jnvn273dva7203g</string>
	<key>API_KEY</key>
	<string>AIzaSyB1KjlVIAFsiaiKaE0xBXCscWkius2FDXY</string>
	<key>GCM_SENDER_ID</key>
	<string>241591734402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ard.SMNEApp</string>
	<key>PROJECT_ID</key>
	<string>smne-development</string>
	<key>STORAGE_BUCKET</key>
	<string>smne-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241591734402:ios:f4ec1f4599b50f7317a49b</string>
</dict>
</plist>